client
dev tun
proto udp
mssfix 1400
;pre OpenVPN connect (v3)
;mssfix-ctrl 1400
remote vpn.cvt.stuba.sk
port 1194
resolv-retry infinite
nobind
persist-key
persist-tun
auth-nocache
;ca [inline]
;ca STU-CA-v2.crt
;tls-auth ta.key 1
;tls-auth [inline] 1
cipher AES-256-GCM
verify-x509-name vpn.cvt.stuba.sk name
auth-user-pass /vpn/auth.txt
verb 3
explicit-exit-notify 1
<ca>
-----BEGIN CERTIFICATE-----
REPLACE_WITH_STU_ROOT_CA_V2_CERTIFICATE
-----END CERTIFICATE-----
</ca>
key-direction 1
<tls-auth>
-----BEGIN OpenVPN Static key V1-----
REPLACE_WITH_REAL_TLS_AUTH_STATIC_KEY
-----END OpenVPN Static key V1-----
</tls-auth>
